@import "./variables" ;

.parallax-wrapper{
    width: 110vw;
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -65vh;
    z-index: 3;
    background-color: $bg-color-dar-o;
    padding-left: 5px;
    
    

            
.hero{
    position: relative;
    width: 110vw;
    min-height:30%;
    background-image: url(./images/background-top.jpg);
    background-position: 0 -140 ;
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 3;
    
    
    
}
}
