@mixin flex-r {
    display: flex;
    align-items: center;
    justify-content: center;
}
$main-font :'Source Code Pro', monospace;
$bg-a:#65f4da ;
$bg-o:#65f4da94 ;
$font-color-dar:#0a192f;
$font-color-dar-o:#0a192f91;
$bg-color-dar-o:#0a192fce;
$box-shadow-icon:#65f4da2d ;
$box-shadow-icon-2:#0a192f34;